<!-- views/partials/header.ejs -->
<header>
  <link rel="stylesheet" href="/css/styles.css" />
  <link rel="stylesheet" href="/css/header.css">
  <nav class="nav1">
    <div class="logo">
      <img src="/img/Logo_New_Men.png" alt="Logo NewMen" />
    </div>
    <div>
      <input
        class="buscador1"
        type="search"
        name="busqueda"
        id="busqueda"
        placeholder="Buscar..."
      />
    </div>
    <div class="nav-iconos">
      <i class="fa-solid fa-heart"></i>
      <i class="fa-solid fa-cart-shopping"></i>
      <a href="user/login"><i class="fa-solid fa-user"></i></a>
    </div>
  </nav>

  <nav class="nav2">
    <a href="/carrito">REMERAS</a>
    <a href="/carrito">CHOMBAS</a>
    <a href="/carrito">JEANS</a>
    <a href="/carrito">SWEATERS</a>
    <a href="/carrito">OTROS</a>
  </nav>
</header>
